// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.colorsmm{
 color: rgba(1,25,61);
}
.bgsmm{
 background-color:rgba(1,25,61) ;
}
.v-text-field--outlined{
margin-bottom: 0px;
}
